<link rel="stylesheet" href ="/app.css">
<div class="flex-container">
	<div class="container">
<h1>To The Moon</h1>
 
<p class="lead">Enter your email to join <strong><%= data %></strong> 
others on our waitlist. The future starts from here. </p>
 
<form method="POST" action='/register'>
 <input type="text" class="form" name="email" placeholder="Enter Your Email">
 <button>Join Now</button>
     </form>
   </div>
</div>